.social-icons {
    display: flex;
    justify-content: center;
  list-style: none;
}
.social-icons li {
  margin: 0 1rem;
  margin-left: -5px;
}
.social-icons li a {
  text-shadow: 0 0 0px;
  transition: 0.3s case;
}
.social-icons li a:hover {
  text-shadow: 0 0 10px;
}
/* fin redes */
footer {
  margin-top: 30px;
  width: 100%;
  font-size: 20px; 
}

.logo{
    border: 1px solid white;
    background-image: url(../assets/Images/Logo.png);
    background-size:cover;
    background-position: center;
    object-fit:cover;
    width: 70px;
    height: 70px;
    border-radius: 5%;

}