.categories{
    padding: 5px;
    background: #35363A;
    color: #00E6fE;
}
/* tamaño de las imagenes en la pagina principal */
.images{
    width: fit-content;
    height: 75vh;
    /* object-fit: contain; */
    
}
/* tamaño imagenes en pagina de detalle */

.card-images{
    width: 250px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.game-card{
    width: 250px;
    height: 300px;
    margin: 10px;
}