body {  
    background-image: url("../assets/Images/Background/background.jpg");
   height: 90vh;
}


.nav-buttons{
    margin-top: 8px;
    margin-right: 5px;
    width: fit-content;
    height: 40px;
font-family: pressStart2P;
font-size: 20px;
background: #95C694;
color: #383A3C;
font-weight: 450;
border: 2px solid black;

}
.register{
    text-decoration: none;
    margin-top: 8px;
    height: 40px;
font-family: pressStart2P;
font-size: 20px;
background: #95C694;
color: #383A3C;
font-weight: 450;
}




/* forma de utilizar los tipos de letra en el proyecto */
@font-face {
    font-family: gameover;
    src: url(../assets/Fonts/game_over.ttf);}
@font-face {
    font-family: pressStart2P;
    src: url(../assets/Fonts/PressStart2P-Regular.ttf);
}

.categories{
    margin: 10px;
    display: flex;
    margin-left: 55px;
}

.table-product-image{
    width: 150px;
    object-fit: cover;

}